Repository jenkins-docs/quickstart-tutorials, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, controller, maven_tutorial, python_tutorial, nodejs, test, docker, docker_compose, android, multi, github_actions, dotnet

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1731)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins (#1732)
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1735)
  dockerfiles/plugins.txt
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1737)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1739)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1762)
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump Docker version
  .devcontainer/devcontainer.json
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/node...
  dockerfiles/node/Dockerfile
Labels: repo, nodejs

chore: [jenkins/ssh-agent] Bump Docker image tag in "docker-compose.y...
  docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/cpp/...
  dockerfiles/cpp/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "build-docker-com...
  build-docker-compose.yaml
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
    - any-glob-to-any-file: '**'

# Add 'controller' label to any change within the dockerfiles folder
controller:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/Dockerfile/**'

# Add 'maven_tutorial' label to any change within the 03_maven_tutorial folder
maven_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/maven/**'

# Add 'python_tutorial' label to any change within the 04_python_tutorial folder
python_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/python/**'

# Add 'nodejs' label to any change within the 05_nodejs folder
nodejs:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/node/**'

# Add 'test' label to any change to test* files within the github dir
test:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/test-**.yml'

# Add 'docker' label to any change to Dockerfile* files within the root dir
docker:
  - changed-files:
      - any-glob-to-any-file: '/**/Dockerfile'

# Add 'docker_compose' label to any change to docker-compose* files within the root dir
docker_compose:
  - changed-files:
      - any-glob-to-any-file: '/**/*docker-compose*.yml'

# Add 'android' label to any change to Dockerfile* files within the root dir
android:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/android/**'

# Add 'multi' label to any change to Dockerfile* files within the root dir
multi:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/multi/**'

# Add 'github_actions' label to any change to .github/workflows/* files within the root dir
github_actions:
  - changed-files:
      - any-glob-to-any-file: '/.github/workflows/*'


# Add 'dotnet' label to any change to Dockerfile* files within the root dir
dotnet:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/dotnet/**'
