Repository jenkins-docs/quickstart-tutorials, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, controller, maven_tutorial, python_tutorial, nodejs, test, docker, docker_compose, android, multi, github_actions, dotnet

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
    - any-glob-to-any-file: '**'

# Add 'controller' label to any change within the dockerfiles folder
controller:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/Dockerfile/**'

# Add 'maven_tutorial' label to any change within the 03_maven_tutorial folder
maven_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/maven/**'

# Add 'python_tutorial' label to any change within the 04_python_tutorial folder
python_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/python/**'

# Add 'nodejs' label to any change within the 05_nodejs folder
nodejs:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/node/**'

# Add 'test' label to any change to test* files within the github dir
test:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/test-**.yml'

# Add 'docker' label to any change to Dockerfile* files within the root dir
docker:
  - changed-files:
      - any-glob-to-any-file: '/**/Dockerfile'

# Add 'docker_compose' label to any change to docker-compose* files within the root dir
docker_compose:
  - changed-files:
      - any-glob-to-any-file: '/**/*docker-compose*.yml'

# Add 'android' label to any change to Dockerfile* files within the root dir
android:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/android/**'

# Add 'multi' label to any change to Dockerfile* files within the root dir
multi:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/multi/**'

# Add 'github_actions' label to any change to .github/workflows/* files within the root dir
github_actions:
  - changed-files:
      - any-glob-to-any-file: '/.github/workflows/*'


# Add 'dotnet' label to any change to Dockerfile* files within the root dir
dotnet:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/dotnet/**'

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: remove Gitpod support
  .gitpod.yml
  .gitpod/Dockerfile
  README.md
  build-docker-compose.yaml
  docker-compose.yaml
  dockerfiles/gitpodURL.sh
  updatecli/updatecli.d/gitpod.yaml
Labels: repo

chore: remove Gitpod support
  .gitpod.yml
  .gitpod/Dockerfile
  README.md
  build-docker-compose.yaml
  docker-compose.yaml
  dockerfiles/gitpodURL.sh
  updatecli/updatecli.d/gitpod.yaml
Labels: repo

fix: handle v prefix in devcontainer version patterns
  updatecli/updatecli.d/devcontainer.yaml
Labels: repo

chore: remove Gitpod support (#1840)
  .gitpod.yml
  .gitpod/Dockerfile
  README.md
  build-docker-compose.yaml
  docker-compose.yaml
  dockerfiles/gitpodURL.sh
  updatecli/updatecli.d/devcontainer.yaml
  updatecli/updatecli.d/gitpod.yaml
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

docs: enhance GitHub Codespaces documentation
  README.md
Labels: repo

fix: add missing environment key in build-docker-compose.yaml
  build-docker-compose.yaml
Labels: repo

fix: correct YAML syntax in build-docker-compose.yaml
  build-docker-compose.yaml
Labels: repo

fix: add missing environment key in docker-compose.yaml
  docker-compose.yaml
Labels: repo

fix: correct YAML syntax in build-docker-compose.yaml (#1843)
  build-docker-compose.yaml
  docker-compose.yaml
Labels: repo

docs: enhance GitHub Codespaces documentation (#1842)
  README.md
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/pyth...
  dockerfiles/python/Dockerfile
Labels: repo, python_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "docker-compose.y...
  docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/gola...
  dockerfiles/golang/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "build-docker-com...
  build-docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mult...
  dockerfiles/multi/Dockerfile
Labels: repo, multi

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/cpp/...
  dockerfiles/cpp/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/node...
  dockerfiles/node/Dockerfile
Labels: repo, nodejs

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mave...
  dockerfiles/maven/Dockerfile
Labels: repo, maven_tutorial

fix: use JSON kind for devcontainer updatecli targets
  updatecli/updatecli.d/devcontainer.yaml
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

chore: deps(devcontainer): update GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

fix: use bracket notation for JSONPath keys with special characters
  updatecli/updatecli.d/devcontainer.yaml
Labels: repo

fix: use yaml kind instead of json kind for devcontainer.json
  updatecli/updatecli.d/devcontainer.yaml
Labels: repo

fix: use file kind with content blocks for devcontainer updates
  updatecli/updatecli.d/devcontainer.yaml
Labels: repo

fix: disable devcontainer updatecli manifest temporarily
  updatecli/updatecli.d/devcontainer.yaml.README.md
  updatecli/updatecli.d/devcontainer.yaml.disabled
Labels: repo

fix: move disabled devcontainer manifest outside updatecli.d
  updatecli/disabled/README.md
  updatecli/disabled/devcontainer.yaml
  updatecli/updatecli.d/devcontainer.yaml.disabled
Labels: repo

fix: use JSON kind for devcontainer updatecli targets (#1846)
  updatecli/disabled/README.md
  updatecli/disabled/devcontainer.yaml
Labels: repo

fix: target correct base branch for docker-versions PR
  .github/workflows/github-docker-registry-push.yml
Labels: repo

fix: target correct base branch for docker-versions PR (#1848)
  .github/workflows/github-docker-registry-push.yml
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

fix: skip Docker login and push steps for fork PRs
  .github/workflows/github-docker-registry-push.yml
Labels: repo

fix: skip Docker login and push steps for fork PRs (#1850)
  .github/workflows/github-docker-registry-push.yml
Labels: repo

chore: [README.md] Bump docker tested version
  README.md
Labels: repo

chore: [README.md] Bump docker tested version
  README.md
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/setup.sh] Bump yq version
  .devcontainer/setup.sh
Labels: repo
