Repository jenkins-docs/quickstart-tutorials, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, controller, maven_tutorial, python_tutorial, nodejs, test, docker, docker_compose, android, multi, github_actions, dotnet

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
    - any-glob-to-any-file: '**'

# Add 'controller' label to any change within the dockerfiles folder
controller:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/Dockerfile/**'

# Add 'maven_tutorial' label to any change within the 03_maven_tutorial folder
maven_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/maven/**'

# Add 'python_tutorial' label to any change within the 04_python_tutorial folder
python_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/python/**'

# Add 'nodejs' label to any change within the 05_nodejs folder
nodejs:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/node/**'

# Add 'test' label to any change to test* files within the github dir
test:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/test-**.yml'

# Add 'docker' label to any change to Dockerfile* files within the root dir
docker:
  - changed-files:
      - any-glob-to-any-file: '/**/Dockerfile'

# Add 'docker_compose' label to any change to docker-compose* files within the root dir
docker_compose:
  - changed-files:
      - any-glob-to-any-file: '/**/*docker-compose*.yml'

# Add 'android' label to any change to Dockerfile* files within the root dir
android:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/android/**'

# Add 'multi' label to any change to Dockerfile* files within the root dir
multi:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/multi/**'

# Add 'github_actions' label to any change to .github/workflows/* files within the root dir
github_actions:
  - changed-files:
      - any-glob-to-any-file: '/.github/workflows/*'


# Add 'dotnet' label to any change to Dockerfile* files within the root dir
dotnet:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/dotnet/**'

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/gola...
  dockerfiles/golang/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mult...
  dockerfiles/multi/Dockerfile
Labels: repo, multi

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mave...
  dockerfiles/maven/Dockerfile
Labels: repo, maven_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/cpp/...
  dockerfiles/cpp/Dockerfile
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1933)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1936)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1935)
  dockerfiles/plugins.txt
Labels: repo

chore: [jenkins-controller] Bump Jenkins Weekly version in dockerfile...
  dockerfiles/Dockerfile
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1943)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1944)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1947)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1948)
  dockerfiles/plugins.txt
Labels: repo

chore: deps(dockerfile): bump image "debian"
  dockerfiles/sidekick/Dockerfile
Labels: repo

chore: [jenkins-controller] Bump Jenkins Weekly version in dockerfile...
  dockerfiles/Dockerfile
Labels: repo

Change base image from Debian bookworm to trixie
  dockerfiles/sidekick/Dockerfile
Labels: repo

chore: deps(dockerfile): bump image "debian"
  dockerfiles/sidekick/Dockerfile
Labels: repo

Update Debian version from Bookworm to Trixie
  updatecli/updatecli.d/debian.yaml
Labels: repo

Update title to use trixieLatestVersion
  updatecli/updatecli.d/debian.yaml
Labels: repo

Update Updatecli and checkout action versions
  .github/workflows/updatecli.yaml
Labels: repo

fix(updatecli): correct debian trixie version filter pattern
  dockerfiles/sidekick/Dockerfile
  updatecli/updatecli.d/debian.yaml
Labels: repo

fix(updatecli): correct debian trixie version filter pattern (#1952)
  dockerfiles/sidekick/Dockerfile
  updatecli/updatecli.d/debian.yaml
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1953)
  dockerfiles/plugins.txt
Labels: repo

chore: [.devcontainer/devcontainer.json] Bump GitHub CLI version
  .devcontainer/devcontainer.json
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1957)
  dockerfiles/plugins.txt
Labels: repo
