Repository jenkins-docs/quickstart-tutorials, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, controller, maven_tutorial, python_tutorial, nodejs, test, docker, docker_compose, android, multi, github_actions, dotnet

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - changed-files:
    - any-glob-to-any-file: '**'

# Add 'controller' label to any change within the dockerfiles folder
controller:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/Dockerfile/**'

# Add 'maven_tutorial' label to any change within the 03_maven_tutorial folder
maven_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/maven/**'

# Add 'python_tutorial' label to any change within the 04_python_tutorial folder
python_tutorial:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/python/**'

# Add 'nodejs' label to any change within the 05_nodejs folder
nodejs:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/node/**'

# Add 'test' label to any change to test* files within the github dir
test:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/test-**.yml'

# Add 'docker' label to any change to Dockerfile* files within the root dir
docker:
  - changed-files:
      - any-glob-to-any-file: '/**/Dockerfile'

# Add 'docker_compose' label to any change to docker-compose* files within the root dir
docker_compose:
  - changed-files:
      - any-glob-to-any-file: '/**/*docker-compose*.yml'

# Add 'android' label to any change to Dockerfile* files within the root dir
android:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/android/**'

# Add 'multi' label to any change to Dockerfile* files within the root dir
multi:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/multi/**'

# Add 'github_actions' label to any change to .github/workflows/* files within the root dir
github_actions:
  - changed-files:
      - any-glob-to-any-file: '/.github/workflows/*'


# Add 'dotnet' label to any change to Dockerfile* files within the root dir
dotnet:
  - changed-files:
      - any-glob-to-any-file: 'dockerfiles/dotnet/**'

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

Delete .github/workflows/codacy.yml
  .github/workflows/codacy.yml
Labels: repo

chore(jenkins): Update Jenkins plugins (#1555)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mult...
  dockerfiles/multi/Dockerfile
Labels: repo, multi

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/cpp/...
  dockerfiles/cpp/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mave...
  dockerfiles/maven/Dockerfile
Labels: repo, maven_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "build-docker-com...
  build-docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/gola...
  dockerfiles/golang/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: [jenkins/ssh-agent] Bump Docker image tag in "docker-compose.y...
  docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/pyth...
  dockerfiles/python/Dockerfile
Labels: repo, python_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/node...
  dockerfiles/node/Dockerfile
Labels: repo, nodejs

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1558)
  dockerfiles/plugins.txt
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

chore: deps(dockerfile): bump image "debian"
  dockerfiles/sidekick/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/cpp/...
  dockerfiles/cpp/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/gola...
  dockerfiles/golang/Dockerfile
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mave...
  dockerfiles/maven/Dockerfile
Labels: repo, maven_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/andr...
  dockerfiles/android/Dockerfile
Labels: repo, android

chore: [jenkins/ssh-agent] Bump Docker image tag in "docker-compose.y...
  docker-compose.yaml
Labels: repo

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/mult...
  dockerfiles/multi/Dockerfile
Labels: repo, multi

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/pyth...
  dockerfiles/python/Dockerfile
Labels: repo, python_tutorial

chore: [jenkins/ssh-agent] Bump Docker image tag in "dockerfiles/node...
  dockerfiles/node/Dockerfile
Labels: repo, nodejs

chore: [jenkins/ssh-agent] Bump Docker image tag in "build-docker-com...
  build-docker-compose.yaml
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1564)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1566)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1568)
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

chore(jenkins): Update Jenkins plugins (#1569)
  dockerfiles/plugins.txt
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo

chore: [jenkins-controller] Bump Jenkins Weekly version in dockerfile...
  dockerfiles/Dockerfile
Labels: repo

Update Docker versions
  docker-versions.txt
Labels: repo
