Repository jenkins-docs/quickstart-tutorials, pull requests merged in 2024-06, with the labels that each got.

#293 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#295 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#299 Spring security
  .env
  .github/workflows/updatecli.yaml
  .gitignore
  docker-compose.yaml
  dockerfiles/Dockerfile
  dockerfiles/get-test-jenkins-war-URL.sh
  dockerfiles/get-test-jenkins-war-version.sh
  dockerfiles/test-jenkins-war-commons.sh
  updatecli/scripts/jenkins-test-version-exists.sh
  updatecli/updatecli.d/jenkins-testing.yaml
  updatecli/values.github-action.yaml
Labels: repo

#302 Spring security
  dockerfiles/Dockerfile
Labels: repo

#303 Spring security
  .github/workflows/updatecli.yaml
  dockerfiles/agent-discovery/Dockerfile
  dockerfiles/android/Dockerfile
  dockerfiles/golang/Dockerfile
  dockerfiles/maven/Dockerfile
  dockerfiles/multi/Dockerfile
  dockerfiles/node/Dockerfile
  dockerfiles/python/Dockerfile
  dockerfiles/sidekick/Dockerfile
Labels: maven_tutorial, python_tutorial, repo, nodejs, android, multi

#304 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#305 fix(docker): JENKINS_TEST_VERSION instead of JENKINS_VERSION
  dockerfiles/Dockerfile
Labels: repo

#306 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#307 fix(plugins): Checks on spring-security branch.
  .github/workflows/plugin_update.yml
Labels: repo

#309 Spring security
  .github/workflows/updatecli.yaml
  build-docker-compose.yaml
Labels: repo

#310 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#311 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#314 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#318 Docker version
  .github/workflows/github-docker-registry-push.yml
Labels: repo

#325 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#330 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#335 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#350 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#354 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#361 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#362 Correct 2 minor comments
  dockerfiles/android/Dockerfile
  dockerfiles/golang/Dockerfile
  dockerfiles/maven/Dockerfile
  dockerfiles/multi/Dockerfile
  dockerfiles/node/Dockerfile
Labels: documentation, maven_tutorial, repo, nodejs, android, multi

#364 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#366 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#367 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#374 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo

#373 chore(jenkins): Updates Jenkins plugins
  dockerfiles/plugins.txt
Labels: repo
